body {
    background-image: url(./images/bg-hero-desktop.svg);
  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}
.logo img{
    width: 200px;
    
}
.seccion-home{
    display: flex;
    align-items: center;
    padding: 50px;
    margin-top: 60px;
}
.titulo-home {
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.boton-uno{
    display: flex;
    background-color: #db34a3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 25px;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.parrafo-home{
    flex: 1;
    padding: 20px;
    margin: 20px;
    text-align: left;
    margin-top: 90px;
    margin-left: 100px;
}

  

  
.my-button {
    background-color: #db34a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-weight: 500;
    
}

.imagen-home-paneles img{
    width: 500px;
}
.imagen-home-paneles{
    align-items: center;
    display: flex;
    margin-right: 70px;
    margin-top: 35px;
    padding: 10px;
    margin-left: 20px;
}
.parrafo-home{
    text-align: left;  /* Alineación a la izquierda por defecto */
    @media (max-width: 768px) { /* Media query para dispositivos con un ancho máximo de 768px (tamaño de pantalla típico de móviles) */
        text-align: center; /* Cambia la alineación a centrada en dispositivos móviles */
    }
}
 
body{
    background: url(./images/bg-hero-desktop.svg);
    @media (max-width: 768px) {
        body
        background-image: url(./images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        
    }
}
.contenedor {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


.img-dos-personas img{
    width: 400px;
}

.img-dos-personas{
    padding: 24px;
    margin-right: 60px;
}

.parrafo-dos-personas{
    flex: 1;
    padding: 40px;
    margin: 40px;
    margin-left: 30px;
    text-align: left;
    margin-top: 30px;
}


/* .dos-personas{
    align-items: center;
    display: flex;
    padding: 10px;
    margin-left: 400px;
    margin-top:-70px;
}

.parrafo-imagen-uno{
    flex: 1;
    padding: 20px;
    margin: 20px;
    text-align: left;
    margin-top: 30px;
    margin-left: 100px;
}
.parrafos-tres{
    display: flex;
    flex-wrap: wrap;


}
.parrafo-tres{
    text-align: left;  
    @media (max-width: 768px) { 
        text-align: center; /
    }
}





  
  
  